{% extends "layout.html" %}

{% block title %}Flight log - Alex Rembish{% endblock %}

{% block css %}
    <link href="{{ static_url('vendor/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <section class="flightlog">
        <div class="container">
            <div class="section-title">
                <h2>Drone flight log</h2>
            </div>

            {% if current_user.has_role("administrator") %}
                <p class="text-right"><a href="{{ url_for("flights.new") }}" class="btn btn-primary btn-lg" role="button">Register flight</a></p>
            {% endif %}

            <div class="table-responsive"><table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="align-text-top">#</th>
                        <th scope="col">Date<br><small>Take-off &ndash; Landing</small></th>
                        <th scope="col">Place<br><small>Additional information</small></th>
                        <th scope="col" class="align-text-top">Drone<br><small>Distance</small></th>
                        <th scope="col" class="align-text-top">Duration</th>
                        <th scope="col">Type<br><small>Activity</small></th>
                    </tr>
                </thead>
                <tbody>
                {% for flight in flights %}
                    <tr {% if flight.private %}class="table-secondary"{% endif %}>
                        <th scope="row">{{ loop.index }}</th>
                        <td class="text-nowrap">
                            {{ flight.date.strftime("%d.%m.%Y") }}<br>
                            <small>{{ flight.takeoff }} &ndash; {{ flight.landing }}</small>
                        </td>
                        <td>
                            {% if flight.country_code %}
                                <span class="flag-icon flag-icon-{{ flight.country_code | lower }}" title="{{ flight.country }}"></span>
                            {% endif %}
                            <a href="{{ url_for("flights.show", flight_id=flight.id) }}">{{ flight.location | default("Untitled") }}</a>
                            {% if flight.description %}<br><small>{{ flight.description }}</small>{% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for("drones.show", drone_id=flight.drone_id) }}">{{ flight.drone_name }}</a>
                            {% if flight.distance %}<br><small>{{ flight.distance }} m</small>{% endif %}
                        </td>
                        <td>
                            {{ flight.duration }}
                            {% if flight.landing_count > 1 %}<br><small>{{ flight.landing_count }} take-offs</small>{% endif %}
                        </td>
                        <td class="text-nowrap">
                            {{ flight.type | join(" / ") | title }}
                            {% if flight.activity %}<br><small>{{ flight.activity }}</small>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table></div>
        </div>
    </section>
{% endblock %}
