{% extends "layout.html" %}

{% block title %}Drone statistics - Alex Rembish{% endblock %}

{% block js %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_API_KEY'] }}&libraries=places&language=en&callback=initMap"></script>
    <script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 50.08804, lng: 14.42076},  // Default position is Prague
            zoom: 13,
            mapTypeId: "roadmap",
        });

        const icons = [
            {}, // No drones with ID = 0
            {
                path: google.maps.SymbolPath.CIRCLE,
                fillColor: '#0563bb',
                fillOpacity: 0.6,
                strokeColor: '#00A',
                strokeOpacity: 0.9,
                strokeWeight: 1,
                scale: 4
            },
            {
                path: google.maps.SymbolPath.CIRCLE,
                fillColor: '#05bb63',
                fillOpacity: 0.6,
                strokeColor: '#0A0',
                strokeOpacity: 0.9,
                strokeWeight: 1,
                scale: 4
            }
        ]

        $.ajax("{{ url_for('flights.places') }}").done(function (data, textStatus, jqXHR) {
            const bounds = new google.maps.LatLngBounds();

            for (let i in data["places"]) {
                const place = data["places"][i];
                const position = new google.maps.LatLng(place.latitude, place.longitude);
                const marker = new google.maps.Marker({
                    map,
                    title: place.location,
                    position: position,
                    icon: icons[place.drone_id]
                });
                bounds.extend(position);
            }

            map.fitBounds(bounds);
        });
    }
    </script>
{% endblock %}

{% block main %}
    <section class="flightlog">
        <div class="container">
            <div class="section-title">
                <h2>Drone statistics</h2>
            </div>

            <div class="row">
                <div class="col-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ url_for("flights.log") }}">Total flights</a> <span class="badge badge-primary badge-pill">{{ stats.flight_count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total take-offs <span class="badge badge-primary badge-pill">{{ stats.takeoff_count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total places <span class="badge badge-primary badge-pill">{{ stats.place_count }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total distance <span class="badge badge-primary badge-pill">{{ "{:,.0f}".format(stats.distance / 1000) }} km</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total flight time <span class="badge badge-primary badge-pill">{{ stats.duration }}</span>
                        </li>
                        {% if current_user.has_role("administrator") %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Max altitude <span class="badge badge-primary badge-pill">{{ stats.altitude }} m</span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ url_for("drones.list_") }}">Drones owned</a> <span class="badge badge-primary badge-pill">{{ stats.drone_count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Pilot experience <span class="badge badge-primary badge-pill">{{ stats.days }} days</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Countries visited <span class="badge badge-primary badge-pill">{{ stats.country_count }}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="map" style="height: 550px; margin-bottom: 10px;"></div>
        </div>
    </section>
{% endblock %}
