.venv/
__pycache__/
data/
dist/
node_modules/
ssl/
secrets

# New app
app/frontend/node_modules/
app/frontend/dist/
app/frontend/public/CHANGELOG.md
*.pyc
*.egg-info/
.ruff_cache/

# Environment files (keep .env.example)
.env
.env.*
!.env.example
