# Create a bot as described here: https://core.telegram.org/bots#3-how-do-i-create-a-bot
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
# Create credentials for Google here: https://console.developers.google.com/apis/credentials
# Here is API key
GOOGLE_API_KEY=
# Here are OAuth 2.0 client id and secret
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
# Register user here: http://www.geonames.org/login
GEONAMES_USERNAME=
DATABASE_URL=mysql+pymysql://user:password@host:port/database
# Any random-ish string
SECRET_KEY=