<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="{# TODO #}" name="description">
  <meta content="{# TODO #}" name="keywords">

  <!-- Favicons -->
  <link href="{{ static_url('imgs/favicon.ico') }}" rel="icon">
  <link href="{{ static_url('imgs/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ static_url('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ static_url('vendor/icofont/icofont.css') }}" rel="stylesheet">
  <link href="{{ static_url('vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ static_url('vendor/flaticon/flaticon.css') }}" rel="stylesheet">
  {% block css %}{% endblock %}

  <!-- Template Main CSS File -->
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li{{ ' class="active"' | safe if request.endpoint == "index.index" }}><a href="{{ url_for('index.index') }}"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li{{ ' class="active"' | safe if ".cv" in request.endpoint }}><a href="{{ url_for('index.cv') }}"><i class="bx bx-file-blank"></i> <span>Curriculum Vitae</span></a></li>
        <li{{ ' class="active"' | safe if ".contact" in request.endpoint }}><a href="{{ url_for('index.contact') }}"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        <li{{ ' class="active"' | safe if "trips." in request.endpoint }}><a href="{{ url_for('trips.map_') }}"><i class="bx bx-world"></i> <span>Trips</span></a></li>
        <li{{ ' class="active"' | safe if "flights." in request.endpoint }}><a href="{{ url_for('flights.map_') }}"><b class="flaticon-drone-14"></b> <span>Drone flights</span></a></li>
      </ul>
      <ul class="nav-menu">
        {% if current_user %}
        <li><a href="{{ url_for('google.logout') }}"><i class="bx bx-log-out-circle"></i> <span>Logout</span></a></li>
        {% else %}
        <li><a href="{{ url_for('google.login') }}"><i class="bx bx-log-in-circle"></i> <span>Login</span></a></li>
        {% endif %}
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <main id="main">{% block main %}
  {% endblock %}</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
          Content copyright &copy; <strong>Alex Rembish</strong> 2013&ndash;{{ now.year }}
      </div>
      <div class="credits">
        Python code is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a><br>
        CSS and HTML are based on a paid version of <a href="https://bootstrapmade.com/free-html-bootstrap-template-my-resume/">MyResume</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
        Drone icons are from <a href="https://www.flaticon.com">flaticon.com</a>. Under <a href="https://creativecommons.org/licenses/by/3.0/">CC</a>: <a data-file="drone-19" href="https://www.freepik.com">Freepik</a><br>
        Source code (<a href="{{ url_for('index.changelog') }}">version {{ version }}</a>) can be found on <a href="https://gitlab.com/rembish/rembish_org">GitHub</a>
        <!--
         Based on MyResume - v2.1.0 (https://bootstrapmade.com/free-html-bootstrap-template-my-resume/).
         Template was properly purchased (Order #18932898)
         -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="{{ static_url('vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ static_url('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  {% block js %}{% endblock %}

  <!-- Template Main JS File -->
  <script src="{{ static_url('js/main.js') }}"></script>

</body>

</html>
