{% extends "layout.html" %}

{% block title %}Contact | Alex Rembish{% endblock %}

{% block main %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact</h2>
            </div>

            <div>
                <iframe class="map" src="https://frame.mapy.cz/s/{{ config.CONTACTS_MAP_CODE }}"></iframe>
            </div>

            <div class="row mt-1">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="icofont icofont-google-map"></i>
                            <h4>Location: <a class="icofont icofont-briefcase badge badge-light float-right" href="{{ static_url('files/alex-rembish.vcf') }}"> vCard</a></h4>
                            <p>Hornokrčská 706/9, 140 00 Praha 4 - Krč, Czech Republic</p>
                        </div>

                        <div class="email">
                            <i class="icofont icofont-envelope"></i>
                            <h4>Email: <a class="icofont icofont-lock badge badge-light float-right" href="{{ static_url('files/alex-rembish.asc') }}"> PGP</a></h4>
                            <p><a href="mailto:{{ config.ME_EMAIL }}">{{ config.ME_EMAIL }}</a></p>
                        </div>

                        <div class="phone">
                            <i class="icofont icofont-phone"></i>
                            <h4>
                                Call: <span class="float-right">
                                    <a class="badge badge-light" href="https://t.me/rembish" title="Telegram"><b class="bx bxl-telegram"></b></a>
                                    <a class="badge badge-light" href="https://wa.me/420775054554" title="WhatsApp"><b class="bx bxl-whatsapp"></b></a>
                                </span>
                            </h4>
                            <p><a href="tel:00420775054554">+420 775 054 554</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <form action="{{ url_for('index.message') }}" method="post" id="contact-form" class="email-form">
                        {{ form.csrf_token }}
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                {{ form.name(class_="form-control", placeholder=form.name.label.text) }}
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.email(class_="form-control", placeholder=form.email.label.text) }}
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.subject(class_="form-control", placeholder=form.subject.label.text) }}
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            {{ form.message(class_="form-control", placeholder=form.message.label.text, rows=5) }}
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            {{ form.submit }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
{% endblock %}
