{% extends "layout.html" %}

{% block main %}
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">
            <h1>Alex Rembish</h1>
            <p>Senior team leader<br>Python professional<br>IT manager</p>
            <div class="social-links">
                <a href="https://linkedin.com/in/rembish/" class="linkedin"><i class="bx bxl-linkedin-square"></i></a>
                <a href="https://github.com/rembish" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://instagram.com/arembish/" class="instagram"><i class="bx bxl-instagram-alt"></i></a>
                <a href="https://twitter.com/rembish" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://facebook.com/rembish/" class="facebook"><i class="bx bxl-facebook-square"></i></a>
            </div>
        </div>
    </section>
{% endblock %}
