{% extends "layout.html" %}

{% block title %}Hello, I'm Alex Rembish{% endblock %}

{% block main %}
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">
            <h1>Alex Rembish</h1>
            <p>I'm <span class="typed" data-typed-items="a Senior Team Leader, a Python professional, an IT Manager, a Traveller, an Aerial Photographer, a Drone Pilot"></span></p>
            <div class="social-links">
                <a href="https://linkedin.com/in/rembish/" class="linkedin"><i class="bx bxl-linkedin-square"></i></a>
                <a href="https://github.com/rembish" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://gitlab.com/rembish" class="gitlab"><i class="bx bxl-gitlab"></i></a>
                <a href="https://instagram.com/arembish/" class="instagram"><i class="bx bxl-instagram-alt"></i></a>
                <a href="https://twitter.com/rembish" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://facebook.com/rembish/" class="facebook"><i class="bx bxl-facebook-square"></i></a>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{{ static_url('vendor/typed.js/typed.min.js') }}"></script>
{% endblock %}
