{% extends "layout.html" %}

{% block title %}Add a new trip - Alex Rembish{% endblock %}

{% block css %}
    <link href="{{ static_url('vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('vendor/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet">
    <style>
        #companions label {
            margin-left: 5px;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{{ static_url('vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ static_url('vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_API_KEY'] }}&libraries=places&language=en&callback=initMap"></script>

    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: 50.08804, lng: 14.42076},  // Default position is Prague
                zoom: 13,
                mapTypeId: "roadmap",
            });

            const settlementInput = document.getElementById("settlement");
            const settlement = $(settlementInput);
            const searchBox = new google.maps.places.SearchBox(settlementInput);

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position => {
                    const latitude  = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    map.setCenter(new google.maps.LatLng(latitude, longitude));
                }));
            }

            map.addListener("bounds_changed", () => {
                searchBox.setBounds(map.getBounds());
            });

            searchBox.addListener("places_changed", () => {
                const places = searchBox.getPlaces();
                if (places.length === 0 || !places[0].geometry) {
                    return;
                }
                settlement.removeClass("is-invalid");

                const place = places[0];
                if (!place.types.includes("locality")) {
                    settlement.addClass("is-invalid");
                    return;
                }

                let iso = null;
                for (const component of place.address_components) {
                    if (component.types.includes("country")) {
                        iso = component.short_name;
                    }
                }

                const data = {
                    name: place.name,
                    country_code: iso,
                    location: [place.geometry.location.lat(), place.geometry.location.lng()],
                    id: place.place_id
                }

                const index = parseInt(settlement.data("index"));
                $("#json").val(JSON.stringify(data));
            });
        }

        $(document).ready(() => {
            $(".btn-group-toggle input").change((e) => {
                $(e.currentTarget).parent().toggleClass("btn-secondary").toggleClass("btn-primary");
            });

            $("#companion_ids").on('changed.bs.select', (e, clickedIndex, isSelected, previousValue) => {
                const selected = $("option:eq(" + clickedIndex + ")", $("#companion_ids"));
                console.log(selected.html());
                const index = selected.val();
                const ns = selected.html().split(" ").map((n) => n[0]).join("");

                if (isSelected) {
                    let label = $("#companions>label:first").clone(true, true);
                    $("input:eq(0)", label).prop("id", "companions-" + index).prop("name", "companions-" + index);
                    $("span:eq(0)", label).html(ns);
                    label.removeClass("d-none");
                    $(label).insertAfter("#companions>label:last");
                } else {
                    $("#companions-" + index).parent().remove();
                }
            });

            $(".settlement-delete").click(function() {
                $(this).closest(".form-row").remove();
                return false;
            });

            $("#settlement-add").click(() => {
                let button = $("#settlement-add");
                button.prop('disabled', true);

                const settlement = $("#settlement");
                let index = parseInt(settlement.data("index"));
                const json = $("#json");

                if (settlement.hasClass("is-invalid") || !json.val()) {
                    button.prop('disabled', false);
                    return false;
                }

                let row = $(this).closest(".form-row");
                let div = $("#settlements>div:first").clone(true, true);
                $("input", div).each((i, element) => {
                    const old_id = $(element).prop("id").replace("--", "-" + index + "-");
                    const new_id = $(element).prop("id").replace("--", "-" + (index + 1) + "-");

                    const old = $("input[name='" + old_id + "']");
                    const value = old.val();
                    old.prop("name", new_id);

                    $(element).prop("id", old_id).prop("name", old_id).val(value);

                    if (old.prop("checked")) {
                        $(element).prop("checked", old.prop("checked"));
                    }
                });
                div.removeClass("d-none");
                $(div).insertAfter("#settlements>div:first");

                index++;
                settlement.val("").removeClass("is-invalid").data("index", index);
                json.val("");
                $("#slightly").prop("checked", false);
                button.prop("disabled", false);

                return false;
            });
        });
    </script>
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="section-title">
                <h2>Add a new trip</h2>
            </div>

            <form method="post" action="{{ url_for('trips.add') }}">
                {{ form.csrf_token }}
                <div class="form-row">
                    <div class="form-group col-2">
                        <div class="input-group date" data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-week-start="1">
                            {{ form.start_date(class_="form-control", placeholder="From") }}
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="icofont icofont-calendar"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-2">
                        <div class="input-group date" data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-week-start="1">
                            {{ form.finish_date(class_="form-control", placeholder="To") }}
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="icofont icofont-calendar"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-3">{{ form.type(class_="form-control selectpicker") }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        {{ form.companion_ids(class_="form-control selectpicker", data_none_selected_text="Companions", data_selected_text_format="static", data_live_search="true") }}
                    </div>
                    <div class="form-group col">
                        <div class="btn-group-toggle" data-toggle="buttons" id="companions">
                          <label class="btn btn-primary active d-none">
                            <input type="checkbox" checked autocomplete="off"> <span></span>
                          </label>
                        {% for sub in form.companions %}
                          <label class="btn btn-{{ "primary active" if sub.full.data else "secondary" }}">
                            <input type="checkbox" autocomplete="off"{{ " checked" if sub.full.data }} name="companions-{{ sub.user_id.data }}" id="companions-{{ sub.user_id.data }}">
                            <span>{{ sub.user.initials }}</span>
                          </label>
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="map" style="height: 300px; margin-bottom: 10px;"></div>

                <div class="form-row">
                    <div class="form-group col-2">Date</div>
                    <div class="form-group col">Settlement</div>
                    <div class="form-group col-1">Slightly?</div>
                    <div class="form-group col-1">&nbsp;</div>
                </div>

                <div id="settlements">
                    <div class="form-row d-none">
                        <div class="form-group col-2">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-week-start="1" data-date-clear-btn="true">
                                <input class="form-control" id="settlements--date" placeholder="Optional" type="text" value="">
                                <div class="input-group-append"><div class="input-group-text"><span class="icofont icofont-calendar"></span></div></div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <input class="form-control" id="settlements--settlement" readonly type="text" value="">
                            <input id="settlements--json" type="hidden" value="">
                        </div>
                        <div class="form-group col-1"><input class="form-control" id="settlements--slightly" type="checkbox" value="y"></div>
                        <div class="form-group col-1"><button class="btn btn-outline-danger settlement-delete"><span class="icofont icofont-trash"></span></button></div>
                    </div>
                {% for row in form.settlements %}
                    <div class="form-row">
                        <div class="form-group col-2">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-week-start="1" data-date-clear-btn="true">
                                {{ row.date(class_="form-control", placeholder="Optional") }}
                                <div class="input-group-append"><div class="input-group-text"><span class="icofont icofont-calendar"></span></div></div>
                            </div>
                        </div>
                        <div class="form-group col">
                            {{ row.settlement(class_="form-control", placeholder=row.settlement.label.name, id="settlement" if loop.last, data_index=loop.index0, readonly=not loop.last) }}
                            <div class="invalid-feedback">Not a settlement</div>
                            {{ row.json(id="json" if loop.last) }}
                        </div>
                        <div class="form-group col-1">{{ row.slightly(class_="form-control", id="slightly" if loop.last) }}</div>
                        <div class="form-group col-1">
                            {% if loop.last %}
                            <button class="btn btn-outline-dark" id="settlement-add"><span class="icofont icofont-plus"></span></button>
                            {% else %}
                            <button class="btn btn-outline-danger settlement-delete"><span class="icofont icofont-trash"></span></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>

                {{ form.add(class_="form-control") }}
            </form>
        </div>
    </section>
{% endblock %}